.gradient {
    &-circle {
        position: absolute;
        pointer-events: none;
        z-index: 100;
        height: 40px;
        width: 100vw;
        opacity: 0.5;
        filter: blur(40px);
        background: radial-gradient(circle,
                rgba(248, 107, 223, 1) 0%,
                rgba(107, 107, 248, 0.8) 100%);
        top: -30px;

        &--bottom {
            @extend .gradient-circle;
            top: auto;
            bottom: -20px;
            height: 30px;
        }
    }

    &-shadow {
        &:hover {
            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
                transform: translate3d(0px, 20px, 0) scale(0.95);
                filter: blur(20px);
                opacity: 0.7;
                transition: opacity 0.3s;
                border-radius: inherit;
            }
        }
    }
}