@use '../components/GradientCircles/index' as gradient;
@use '../components/Cursor/index' as cursor;

@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
* {
    font-family: "Hind";
}

body {
    @apply dark:bg-black dark:text-white;
    cursor: none;
}

input, button, textarea, select, a, [role="button"] {
    cursor: none;
}

/* Ensure cursor stays hidden even when switching tabs */
*:not(.cursor.custom-cursor) {
    cursor: none !important;
}

